@page "/add-tbl-ic-unit"
@layout MainLayout
@inherits ErpCan.Pages.AddTblIcUnitComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent @ref="content1" Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(tblicunit)" Visible="@(tblicunit != null)" TItem="ErpCan.Models.CanErpDbAt132.TblIcUnit" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="Unit Text" Component="UnitText" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="unitText" MaxLength="25" style="display: block; width: 100%" Name="UnitText">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="unitTextRequiredValidator" Component="UnitText" Text="UnitText is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Unit Fk" Component="Unit_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="unitFk" MaxLength="20" style="display: block; width: 100%" Name="Unit_FK">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="unitFkRequiredValidator" Component="Unit_FK" Text="Unit_FK is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
