@page "/add-tbl-gn-payment-term"
@layout MainLayout
@inherits ErpCan.Pages.AddTblGnPaymentTermComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent @ref="content1" Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(tblgnpaymentterm)" Visible="@(tblgnpaymentterm != null)" TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="Payment Term Id" Component="PaymentTerm_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="paymentTermId" MaxLength="20" style="display: block; width: 100%" Name="PaymentTerm_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="paymentTermIdRequiredValidator" Component="PaymentTerm_ID" Text="PaymentTerm_ID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Payment Term Text" Component="PaymentTermText" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="paymentTermText" MaxLength="80" style="display: block; width: 100%" Name="PaymentTermText">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="paymentTermTextRequiredValidator" Component="PaymentTermText" Text="PaymentTermText is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
