@page "/vw-employees"
@layout MainLayout
@inherits ErpCan.Pages.VwEmployeesComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Vw Employees">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getVwEmployeesResult)" TItem="ErpCan.Models.CanErpDbAt132.VwEmployee">
          <Columns>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="AddressBook_SEQ" Title="Address Book SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="AddressBook_ID" Title="Address Book ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="AddressBookType_FK" Title="Address Book Type FK" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="LastName" Title="Last Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="FirstName" Title="First Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="Gender_FK" Title="Gender FK" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Format="date-time" Property="DOB" FormatString="{0:ddMM/yyyy}" Title="DOB" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="Origin" Title="Origin" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="IDNumber" Title="ID Number" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="TaxIDNumber" Title="Tax ID Number" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="OrganizationName" Title="Organization Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="JobPosition" Title="Job Position" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="Address" Title="Address" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.VwEmployee" Context="erpCanModelsCanErpDbAt132VwEmployee" Property="City_FK" Title="City FK" Type="integer">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
