@page "/add-addressbook-type"
@layout MainLayout
@inherits QuanLyBanHang.Pages.AddAddressbookTypeComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" @ref:suppressField Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" @ref:suppressField Data="@(tblgnaddressbooktype)" TItem="TblGnAddressBookType" Visible="@(tblgnaddressbooktype != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" @ref:suppressField Component="AddressBookType_ID" style="width: 100%" Text="ID">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="addressBookTypeId" @ref:suppressField MaxLength="10" style="width: 100%" Name="AddressBookType_ID">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" @ref:suppressField Component="AddressBookTypeText" style="width: 100%" Text="Text">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="addressBookTypeText" @ref:suppressField MaxLength="150" style="width: 100%" Name="AddressBookTypeText">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" @ref:suppressField ButtonStyle="primary" ButtonType="submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton @ref="button2" @ref:suppressField ButtonStyle="light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
