@page "/tbl-gn-address-book-types"
@layout MainLayout
@inherits QuanLyBanHang.Pages.TblGnAddressBookTypesComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Tbl Gn Address Book Types">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblGnAddressBookTypesResult)" TItem="TblGnAddressBookType" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="TblGnAddressBookType" Context="tblGnAddressBookType" Property="AddressBookType_SEQ" Title="Address Book Type SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnAddressBookType" Context="tblGnAddressBookType" Property="AddressBookType_ID" Title="Address Book Type ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnAddressBookType" Context="tblGnAddressBookType" Property="AddressBookTypeText" Title="Address Book Type Text" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnAddressBookType" Context="tblGnAddressBookType" Bubble="false" Filterable="false" Sortable="false" Width="70px">
              <Template Context="tblGnAddressBookType">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, tblGnAddressBookType))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
