@page "/tbl-gn-payment-types"
@layout MainLayout
@inherits QuanLyBanHang.Pages.TblGnPaymentTypesComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" @ref:suppressField Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" @ref:suppressField Size="H1" Text="Tbl Gn Payment Types">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" @ref:suppressField Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" @ref:suppressField AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblGnPaymentTypesResult)" TItem="TblGnPaymentType" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="TblGnPaymentType" Context="tblGnPaymentType" Property="PaymentType_SEQ" Title="Payment Type SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnPaymentType" Context="tblGnPaymentType" Property="PaymentType_ID" Title="Payment Type ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnPaymentType" Context="tblGnPaymentType" Property="PaymentTypeText" Title="Payment Type Text" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblGnPaymentType" Context="tblGnPaymentType" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="tblGnPaymentType">
                <RadzenButton @ref="gridDeleteButton" @ref:suppressField ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, tblGnPaymentType))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
