@page "/tbl-so-order-detail-statuses"
@layout MainLayout
@inherits QuanLyBanHang.Pages.TblSoOrderDetailStatusesComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" @ref:suppressField Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" @ref:suppressField Size="H1" Text="Tbl So Order Detail Statuses">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" @ref:suppressField Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" @ref:suppressField AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblSoOrderDetailStatusesResult)" TItem="TblSoOrderDetailStatus" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="TblSoOrderDetailStatus" Context="tblSoOrderDetailStatus" Property="SODetailStatus_SEQ" Title="SO Detail Status SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblSoOrderDetailStatus" Context="tblSoOrderDetailStatus" Property="SODetailStatus_ID" Title="SO Detail Status ID" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblSoOrderDetailStatus" Context="tblSoOrderDetailStatus" Property="SODetailStatusText" Title="SO Detail Status Text" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblSoOrderDetailStatus" Context="tblSoOrderDetailStatus" Property="Description" Title="Description" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="TblSoOrderDetailStatus" Context="tblSoOrderDetailStatus" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="tblSoOrderDetailStatus">
                <RadzenButton @ref="gridDeleteButton" @ref:suppressField ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, tblSoOrderDetailStatus))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
